@model UserViewModel
@{
    ViewData["Title"] = "Personal Area";
}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-are="" asp-controller="Home" asp-action="Index">Главная</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Мой аккаунт</li>
                        </ol>
                    </nav>
                </div>
                @Html.Partial("ProfileMenu")
                <div class="col-lg-9">
                    <div class="box">
                        <h3 class="mt-5">Фото профиля</h3>
                        <p class="lead">Зарузить фото профиля</p>
                        <form id="upload-container" class="form-group" method="POST" action="uploadImage">
                            <img id="upload-image" src="~/images/upload.svg">
                            <div>
                                <input id="file-input" type="file" name="file" multiple>
                                <label for="file-input">Выберите фото</label>
                                <span>или перетащите его сюда</span>
                            </div>
                        </form>
                        <h3>Поменять пароль</h3>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password_old">Старый пароль</label>
                                        <input id="password_old" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password_1">Новый пароль</label>
                                        <input id="password_1" type="password" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password_2">Повторите пароль</label>
                                        <input id="password_2" type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!-- /.row-->
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Поменять пароль</button>
                            </div>
                        </form>
                        <h3 class="mt-5">Данные</h3>
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Name, "Имя")
                                        @Html.EditorFor(m => m.Name, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(m => m.Name)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Surname, "Фамилия")
                                        @Html.EditorFor(m => m.Surname, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(m => m.Surname)
                                    </div>
                                </div>
                            </div>
                            <!-- /.row-->
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Сохранить изменения</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
