@{ 
    ViewData["Title"] = "Каталог";
}
@using WebShop_NULL.Models.ViewModels.СatalogModels
@using DomainModels
@model ProductsViewModel
@inject ApplicationContext context
<div id="all">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Catalog" action="Catalog">Главная</a></li>
                            @{
                                if (Model != null)
                                {
                                    <li aria-current="page" class="breadcrumb-item active">@Model.Category</li>
                                }
                            }
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <!--
        *** MENUS AND FILTERS ***
        _________________________________________________________
        -->
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Категории</h3>
                        </div>
                        <div class="card-body">
                            @{
                                var categories = context.Categories.Select(x => x).ToList();
                            }
                            <ul class="nav nav-pills flex-column category-menu">
                                @foreach (var c in categories)
                                {
                                    <li>
                                        <a href="@Url.Action("Catalog", "Catalog", new { category = c.Name })" class="nav-link @(Model != null && Model.Category == c.Name ? "active" : "")">@c.Name <span class="badge badge-secondary"></span></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Brands <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Armani  (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Versace  (12)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Carlo Bruni  (15)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Jack Honey  (14)
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                            </form>
                        </div>
                    </div>
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Colours <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour white"></span> White (14)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour blue"></span> Blue (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour green"></span>  Green (20)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour yellow"></span>  Yellow (13)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour red"></span>  Red (10)
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                            </form>
                        </div>
                    </div>
                    <!-- *** MENUS AND FILTERS END ***-->
                    <div class="banner"><a href="#"><img src="https://d19m59y37dris4.cloudfront.net/obaju/2-1-1/img/banner.jpg" alt="sales 2014" class="img-fluid"></a></div>
                </div>
                @if (Model != null)
                {
                    <div class="col-lg-9">
                        <div class="box">
                            <h1>@Model.Category</h1>
                        </div>
                        <div class="box info-bar">
                            <div class="row">
                                <div class="col-md-12 col-lg-7 products-number-sort">
                                    <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                                        <div class="products-number"><strong>Show</strong><a href="#" class="btn btn-sm btn-primary">12</a><a href="#" class="btn btn-outline-secondary btn-sm">24</a><a href="#" class="btn btn-outline-secondary btn-sm">All</a><span>products</span></div>
                                        <div class="products-sort-by mt-2 mt-lg-0">
                                            <strong>Sort by</strong>
                                            <select name="sort-by" class="form-control">
                                                <option>Price</option>
                                                <option>Name</option>
                                                <option>Sales first</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row products">
                            @foreach (var p in Model.ProductList)
                            {
                                <div class="col-lg-4 col-md-6">
                                    <div class="product">
                                        <div class="flip-container">
                                            <div class="flipper">
                                                <div class="front"><a href="detail.html"><img src="@p?.Image?.ImagePath" alt="" class="img-fluid"></a></div>
                                                <div class="back"><a href="detail.html"><img src="@p?.Image?.ImagePath" alt="" class="img-fluid"></a></div>
                                            </div>
                                        </div><a href="detail.html" class="invisible"><img src="@p?.Image?.ImagePath" alt="" class="img-fluid"></a>
                                        <div class="text">
                                            <h3><a href="detail.html">@p.Name</a></h3>
                                            <p class="price">
                                                <del></del>@p.Rating
                                            </p>
                                            <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">Подробнее</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Добавить в корзину</a></p>
                                        </div>
                                        <!-- /.text-->
                                    </div>
                                    <!-- /.product            -->
                                </div>
                            }
                            
                            <!-- /.products-->
                        </div>
                        <div class="pages">
                            <p class="loadMore"><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a></p>
                            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                                <ul class="pagination">
                                    <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                                    <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                }
                <!-- /.col-lg-9-->
            </div>
        </div>
    </div>
</div>
