@model OptionFilterViewModel

<div>
    <p>
        @Model.PropertyName:
    </p>
    <input type="hidden" name="filters.Index" value="@Model.PropertyId">
    <input type="hidden" name="filters[@Model.PropertyId].propertyId" value="@Model.PropertyId"/>
    <input type="hidden" name="filters[@Model.PropertyId].propertyType" value="@Model.PropertyType"/>
    @foreach (var option in Model.Options)
    {
        <div>
            <label>
                <input type="checkbox" name="filters[@Model.PropertyId].options" value="@option"/>
                @option
            </label>
        </div>
    }
</div>